*.iml
.gradle
/local.properties
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
/.idea
/design/logo/logo.svg
/design/logo/logo-foreground.svg
/design/logo/logo-options.html
/design/logo/logo-preview.html
/design/mockup.html
/app/src/androidTest/java/identifycaller/phonelookup/contacts/calllog/ExampleInstrumentedTest.kt
/app/src/test/java/identifycaller/phonelookup/contacts/calllog/ExampleUnitTest.kt
/.kotlin/sessions/kotlin-compiler-4574285122268580156.salive
/app/release
app/build
